p{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

form{
    max-width: 960px;
    margin: 30px auto;
    border: 2px solid black;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

label{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input{
    height: 20px;
    width: 100%;
}

button{
    background-color: lawngreen;
    padding: 7px;
    width: 150px;
    border-radius: 5px;
    align-self: center;
}