.home{
    margin: 30px 0;
}
p{
    text-align: center;
    font-size: 30px;
}
.tables{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
table{
    border-collapse: collapse;
    text-align: center;
    background-color:lightcyan;
}
th,td{
    padding: 5px;
    border: 2px solid black;
}
button{
    border-radius: 5px;
    border: 2px solid black;
}
.viewbutton{
    background-color: darkturquoise;
}
.editbutton{
    background-color: lawngreen;
}
.deletebutton{
    background-color:crimson;
}